
html,body{
  height: 100%;
  width: 100%;
  font-family: "poppins",sans-serif;
  color: #222;
}
.jumbotron {
  margin-bottom: 0;
}

.navbar{
padding: .8rem;
}
.navbar-brand img{
  padding-left: .7rem;
  height: 2.5rem;
  margin: -3px;
}
.nav-item{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
  color: #FFF;
}
.carousel-inner img{
  height: 100vh;
  object-fit: cover;
  width: 100%;
}
.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
  font-family: 'HanziPen TC',sans-serif;
}
.carousel-caption h1{
  font-size: 600%;
  text-shadow: 1px 1px 10px black;
  padding-bottom: 2rem;
}
.carousel-caption h3{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px black;
  padding-bottom: 1rem;
}

/* コンセプト */
.concept-title{
  font-size: 8vw;
  letter-spacing: .3em;
  text-indent: .3rem;
  opacity: 0.3;
  padding-bottom: 1rem;
}
.concept-subheading{
  margin-bottom: 2rem;
  font-size: 2.5vw;
}
.concept-text{
  line-height: 3rem;
  font-size: 1.4vw;
}
.padding{
  padding-bottom: 2rem;
}
.welcome{
  width: 100%;
  padding-top: 3rem;
}
.display-4{
  padding: 3rem 0;
}
.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 5rem;
}

.lead,.me{
  font-family: "poppins",sans-serif;
  width:930px;
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.list-group-item{
  font-size: 1.7rem;
}

/* 自己紹介 */
.intro-sub{
  padding-bottom: 2rem;
  margin-top: -40px;
}
.paiza-photo{
  max-width: 300px;
  height: auto;
}
.list-group-item{
  background-color: unset;
}
.introduction{
  border: unset;
  padding-bottom: 2rem;
}
.in-list{
  border: unset;
}
.img-fluid{
  width: 600px;
  padding:0;
}
.works-photo{
  width: cover;
  height: 300px;
}

.card{
  background-color: unset;
}

/* SNSアイコン */
.social a{
  font-size: 4.5rem;
  padding:3rem;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}
.insta_btn .insta{/*アイコンの背景*/
  position: relative;/*相対配置*/
  display: inline-block;
  width: 60px;/*幅*/
  height: 60px;/*高さ*/
  background: -webkit-linear-gradient(160deg, #427eff 0%, #f13f79 50%) no-repeat;
  background: linear-gradient(155deg, #427eff 0%, #f13f79 30%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  border-radius: 13px;/*角丸に*/

}
.insta_btn .insta:before{/*グラデーションを重ねるため*/
  content: '';
  position: absolute;/*絶対配置*/
  top: 32px;/*ずらす*/
  left: -15px;/*ずらす*/
  width: 70px;/*グラデーションカバーの幅*/
  height: 60px;/*グラデーションカバーの高さ*/
  background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
}
.insta_btn .fa-instagram {/*アイコン*/
  color: #FFF;/*白に*/
  position: relative;/*z-indexを使うため*/
  z-index: 2;/*グラデーションより前に*/
  font-size: 50px;/*アイコンサイズ*/
  line-height: 50px;/*高さと合わせる*/
  top: -30px;
}

/* 最後に */
.message-text{
  padding-bottom: 2rem;
  line-height: 3rem;
  font-size: 1.4vw;
}
.message-last{
  padding-top: 2rem;
  padding-bottom: -1rem;
  font-size: 3rem;
}

footer{
  background-color:#f8f9fa;;
  padding-top: 2rem;
}
.fo img{
  height: cover;
  width: 200px;
  padding-bottom: 2rem;
}
hr.light{
  border-top: 1px solid black;
  width:75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

